<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxm.mapper.OAGroupMapper" >
  <resultMap id="BaseResultMap" type="com.wxm.model.OAGroup" >
    <id column="GROUP_ID" property="groupId" jdbcType="INTEGER" />
    <result column="GROUP_NAME" property="groupName" jdbcType="NVARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="PRIVILEGEIDS" property="privilegeids" jdbcType="NVARCHAR" />
    <result column="DESCRIBE" property="describe" jdbcType="NVARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    GROUP_ID, GROUP_NAME, USER_ID, PRIVILEGEIDS, DESCRIBE,STATUS, CREATE_TIME
  </sql>
  <select id="total" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from OA_GROUP where STATUS = 1
  </select>
  <select id="list" resultMap="BaseResultMap">
    select top ${limit} * from OA_GROUP where OA_GROUP.GROUP_ID not
    in(select top ${offset} GROUP_ID from OA_GROUP  where 1=1
    <if test="groupName != null">
      AND GROUP_NAME like CONCAT('%',#{groupName},'%' )
    </if>
    <if test="startTime != null" >
      AND CREATE_TIME <![CDATA[ >= ]]> #{startTime} AND CREATE_TIME<![CDATA[ <= ]]> #{endTime}
    </if>
    ORDER BY CREATE_TIME DESC )
    <if test="groupName != null" >
      AND GROUP_NAME like CONCAT('%',#{groupName},'%' )
    </if>
    <if test="startTime != null" >
      AND CREATE_TIME <![CDATA[ >= ]]> #{startTime} AND  CREATE_TIME<![CDATA[ <= ]]> #{endTime}
    </if>
    ORDER BY CREATE_TIME DESC
  </select>

  <select id="count" resultType="java.lang.Integer">
    SELECT  count(*)
    from OA_GROUP where 1=1
    <if test="groupName != null" >
      AND GROUP_NAME like CONCAT('%',#{groupName},'%' )
    </if>
    <if test="startTime != null" >
      AND CREATE_TIME <![CDATA[ >= ]]> #{startTime} AND  CREATE_TIME<![CDATA[ <= ]]> #{endTime}
    </if>
  </select>
  <select id="getGroupByUserId" resultMap="BaseResultMap">
    SELECT     <include refid="Base_Column_List" />
    from OA_GROUP  where GROUP_ID IN (SELECT  GROUP_ID from OA_USER where OA_USER.USER_ID=#{userId,jdbcType=INTEGER})
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from OA_GROUP
    where GROUP_ID = #{groupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from OA_GROUP
    where GROUP_ID = #{groupId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wxm.model.OAGroup" useGeneratedKeys="true"  keyProperty = "groupId" keyColumn = "GROUP_ID">
    insert into OA_GROUP (GROUP_ID, GROUP_NAME, USER_ID, 
      PRIVILEGEIDS, DESCRIBE,STATUS, CREATE_TIME
      )
    values (#{groupId,jdbcType=INTEGER}, #{groupName,jdbcType=NVARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{privilegeids,jdbcType=NVARCHAR}, #{describe,jdbcType=NVARCHAR},#{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wxm.model.OAGroup" useGeneratedKeys="true"  keyProperty = "groupId" keyColumn = "GROUP_ID">
    insert into OA_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="privilegeids != null" >
        PRIVILEGEIDS,
      </if>
      <if test="describe != null" >
        DESCRIBE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=NVARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="privilegeids != null" >
        #{privilegeids,jdbcType=NVARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wxm.model.OAGroup" >
    update OA_GROUP
    <set >
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=NVARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="privilegeids != null" >
        PRIVILEGEIDS = #{privilegeids,jdbcType=NVARCHAR},
      </if>
      <if test="describe != null" >
        DESCRIBE = #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where GROUP_ID = #{groupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wxm.model.OAGroup" >
    update OA_GROUP
    set GROUP_NAME = #{groupName,jdbcType=NVARCHAR},
      USER_ID = #{userId,jdbcType=INTEGER},
      PRIVILEGEIDS = #{privilegeids,jdbcType=NVARCHAR},
      DESCRIBE = #{describe,jdbcType=NVARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where GROUP_ID = #{groupId,jdbcType=INTEGER}
  </update>
</mapper>