<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<div dialog info="pageDialog" data="addPage.data" class="ldialog">

    <div class="portlet-body form">
        <form class="form-horizontal" role="form" id="addForm">
            <div class="form-body">
                <div class="form-group">
                    <label  class="col-md-3 control-label">用户名称</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="userName" id="userName" ng-model="addPage.data.userName" placeholder="用户名字" maxlength="20">
                        <div class="required" ng-show="form.userName.$dirty && form.userName.$invalid">
                            <span ng-show="form.userName.$error.required">此项不能为空.</span>
                            <!--<span ng-show="!form.userName.$error.required && form.userName.$error.minlength">长度最小6位字符.</span>-->
                            <span ng-show="!form.userName.$error.required && form.userName.$error.maxlength">长度最大20位字符.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="display: none" id="formPassword">
                    <label  class="col-md-3 control-label">用户密码</label>
                    <div class="col-md-9">
                    <input type="password" class="form-control" name="userPwd" ng-model="addPage.data.userPwd" placeholder="用户密码" minlength="6" maxlength="20">
                        <div class="required" ng-show="form.userPwd.$dirty && form.userPwd.$invalid">
                            <span ng-show="form.userPwd.$error.required">此项不能为空.</span>
                            <span ng-show="!form.userPwd.$error.required && form.userPwd.$error.minlength">长度最小6位字符.</span>
                            <span ng-show="!form.userPwd.$error.required && form.userPwd.$error.maxlength">长度最大20位字符.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">手机号码</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  ng-model="addPage.data.userMobile" placeholder="手机号码" maxlength="19">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">用户组</label>
                    <div class="col-md-9">
                        <select  class="form-control"  ng-model="addPage.data.groupId"  ng-options="item.groupId as item.groupName for item in approvalGroup ">
                        </select>
                        <!--<input type="text" class="form-control"  ng-model="addPage.data.userGroup" placeholder="手机号码" maxlength="19">-->
                    </div>
                </div>

                <div class="form-group">
                    <label  class="col-md-3 control-label">邮箱</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  name="userEmail" ng-model="addPage.data.userEmail" placeholder="邮箱" maxlength="20">
                        <div class="required" ng-show="form.userEmail.$dirty && form.userEmail.$invalid">
                            <span ng-show="form.userEmail.$error.email">邮箱地址格式错误.</span>
                            <span ng-show="!form.userEmail.$error.email && form.email.$error.maxlength">超出长度限制.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">公司</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  ng-model="addPage.data.userCompany" placeholder="公司" maxlength="190">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">部门</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  ng-model="addPage.data.userDepartment" placeholder="部门" maxlength="190">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">岗位</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  ng-model="addPage.data.userPosition" placeholder="岗位" maxlength="190">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">住址</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  ng-model="addPage.data.userAddress" placeholder="住址" maxlength="190">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">邮编</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  ng-model="addPage.data.userPostcode" placeholder="邮编" maxlength="190">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">微信号</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  ng-model="addPage.data.userWeixin" placeholder="微信号" maxlength="90">
                    </div>
                </div>

                <div class="form-group">
                    <label  class="col-md-3 control-label">用户状态</label>
                    <div class="col-md-9">
                        <input type="checkbox" class="ace ace-switch ace-switch-4" ng-model="addPage.data.userStatus"  />
                        <span class="lbl"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>