<div class="portlet box"  style="top: 100px;position: fixed;" ng-keypress="submit($event)">
    <link rel="stylesheet" type="text/css" href="../../css/stylecopy.css">
    <!-- main content start-->
    <div>
        <div class="main-page">
            <!-- four-grids -->
            <div class="row four-grids" style="width: 1000px;padding: 30px;">
                <a href="/index.html#/pending">
                    <div class="col-md-4 ticket-grid">
                        <div class="tickets">
                            <div class="grid-left">
                                <div class="book-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </div>
                            <div class="grid-right">
                                <h3><span>待办</span></h3>
                                <p id="myPending">452</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </a>
                <a href="/index.html#/complete">
                <div class="col-md-4 ticket-grid">
                    <div class="tickets">
                        <div class="grid-left">
                            <div class="book-icon">
                                <i class="fa fa-bell"></i>
                            </div>
                        </div>
                        <div class="grid-right">
                            <h3><span>已办</span></h3>
                            <p id="myComplete">745</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                </a>
                <a href="/index.html#/initiator">
                <div class="col-md-4 ticket-grid">
                    <div class="tickets">
                        <div class="grid-left">
                            <div class="book-icon">
                                <i class="fa fa-tasks"></i>
                            </div>
                        </div>
                        <div class="grid-right">
                            <h3> <span>我的申请</span></h3>
                            <p id="initiator">1</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                </a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
