
<div class="portlet box"  style="margin: 15px 0px 0px 0px;" ng-keypress="submit($event)">

    <label  class="col-md-3 control-label"></label>
    <div class="col-md-5" style="float:right;margin:-36px 0px -40px;">
        <div class="list_button" >
            <div class="input-group">
                <input type="text" class="form-control" maxlength="20" ng-model="searchPage.data.enterpriseName" placeholder="公司名称模糊查询">
                <span class="input-group-btn">
                    <button class="btn blue" ng-click="searchPage.action.search()" type="button">查询</button>
                </span>
                <button type="button" class="btn" ng-hide="loginUserMenuMap[currentView]" ng-click="listPage.action.add()" ng-show="userLevel.indexOf('add')!=-1">新增公司</button>
            </div>
        </div>
    </div>
    <table jq-table="listPage.settings" class="table"></table>
</div>
<div ng-include src="'view/user/enterpriseAdd.html'"></div>