<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<div dialog info="pageDialog" data="addPage.data" class="ldialog">

    <div class="portlet-body form">
        <form class="form-horizontal" role="form" id="addForm">
            <div class="form-body">
                <div class="form-group">
                    <label  class="col-md-3 control-label">组织名称</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="userName" id="userName" ng-model="addPage.data.userName" placeholder="组织名称" maxlength="20">
                        <div class="required" ng-show="form.userName.$dirty && form.userName.$invalid">
                            <span ng-show="form.userName.$error.required">此项不能为空.</span>
                            <!--<span ng-show="!form.userName.$error.required && form.userName.$error.minlength">长度最小6位字符.</span>-->
                            <span ng-show="!form.userName.$error.required && form.userName.$error.maxlength">长度最大20位字符.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group"  id="formPassword">
                    <label  class="col-md-3 control-label">上级组织</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="userPwd" ng-model="addPage.data.userPwd" placeholder="上级组织" minlength="6" maxlength="20">
                        <div class="required" ng-show="form.userPwd.$dirty && form.userPwd.$invalid">
                            <span ng-show="form.userPwd.$error.required">此项不能为空.</span>
                            <span ng-show="!form.userPwd.$error.required && form.userPwd.$error.minlength">长度最小6位字符.</span>
                            <span ng-show="!form.userPwd.$error.required && form.userPwd.$error.maxlength">长度最大20位字符.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group"  id="owner">
                    <label  class="col-md-3 control-label">组织管理人</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="owner" ng-model="addPage.data.owner" placeholder="组织管理人" minlength="6" maxlength="20">
                        <div class="required" ng-show="form.userPwd.$dirty && form.userPwd.$invalid">
                            <span ng-show="form.userPwd.$error.required">此项不能为空.</span>
                            <span ng-show="!form.userPwd.$error.required && form.userPwd.$error.minlength">长度最小6位字符.</span>
                            <span ng-show="!form.userPwd.$error.required && form.userPwd.$error.maxlength">长度最大20位字符.</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>