
<div class="portlet box"  style="margin: 15px 0px 0px 0px;" ng-keypress="submit($event)">

    <!--<input type="text" readonly class="s" z-tree="{-->
    <!--inData:'locationsForJFSearch',-->
    <!--outData:'listPage.search.jfId',-->
    <!--outParentData:'',-->
    <!--type:'radio',-->
    <!--description:'name',-->
    <!--children:'children',-->
    <!--value:'id',-->
    <!--depth:2,-->
    <!--radioCancel:true,-->
    <!--isLeaf:'isLeaf'-->
    <!--}" id="jfText"/>-->


    <!--<ul class="ztree" style="height: 300px;margin-left: 0px;" z-tree="{-->
    <!--inData:'editPage.datas.metricTree',-->
    <!--outData:'editPage.data.metricsId',-->
    <!--outParentData:'',-->
    <!--type:'none',-->
    <!--description:'displayName',-->
    <!--children:'children',-->
    <!--value:'id',-->
    <!--depth:2,-->
    <!--disableClick:'true'-->
    <!--}" id="metricTree">-->
    <!--</ul>-->
    <label  class="col-md-3 control-label"></label>
    <div class="col-md-5" style="float:right;margin:-36px 0px -40px;">
        <div class="list_button" >
            <div class="input-group">
                <input type="text" class="form-control" maxlength="20" ng-model="searchPage.data.groupName" placeholder="组名称查询">
                <span class="input-group-btn">
                    <button class="btn blue" ng-click="searchPage.action.search()" type="button">查询</button>
                </span>
                <button type="button" class="btn" ng-hide="loginUserMenuMap[currentView]" ng-click="listPage.action.add()" ng-show="userLevel.indexOf('add')!=-1">新增组</button>
            </div>
        </div>
    </div>
    <table jq-table="listPage.settings" class="table"></table>
</div>
<div ng-include src="'view/user/groupAdd.html'"></div>