<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<div dialog info="pageDialog" data="addPage.data" class="ldialog">
    <div class="portlet-body form">
        <form class="form-horizontal" role="form" id="addForm" name="form">
            <div class="form-body">
                <div class="form-group">
                    <label  class="col-md-3 control-label">通知内容</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="companyName" id="companyName" ng-model="addPage.data.content" placeholder="通知内容" maxlength="200">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>