
<div class="portlet box"  style="" ng-keypress="submit($event)">

    <label  class="col-md-3 control-label"></label>
    <div class="col-md-2" style="float:right;">
        <div class="list_button" >
            <div class="input-group">
                <!--<input type="text" class="form-control" maxlength="20" ng-model="searchPage.data.enterpriseName" placeholder="通知内容模糊查询">-->
                <!--<span class="input-group-btn">-->
                    <!--<button class="btn blue" ng-click="searchPage.action.search()" type="button">查询</button>-->
                <!--</span>-->
                <button type="button" class="btn" ng-hide="loginUserMenuMap[currentView]" ng-click="listPage.action.add()" ng-show="userLevel.indexOf('add')!=-1">新增通知</button>
            </div>
        </div>
    </div>
    <table jq-table="listPage.settings" class="table"></table>
</div>
<div ng-include src="'view/user/notifyAdd.html'"></div>