<div class="portlet box"  style="margin: 15px 0px 0px 0px;" ng-keypress="submit($event)">
    <div class="col-md-5">
        <div class="portlet-body form">
            <form class="form-horizontal" role="form" name="form">
                <div class="form-body">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">原有密码</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="userPsw"  id="userPsw" ng-model="addPageUpdate.data.userPwd" placeholder="原有密码" maxlength="20" required>
                            <!--<span class="required">*</span>-->
                            <div class="required" ng-show="form.userPsw.$dirty && form.userPsw.$invalid">
                                <span ng-show="form.userPsw.$error.required">此项不能为空.</span>
                                <span ng-show="!form.userPsw.$error.required && form.userPsw.$error.maxlength">超出长度限制.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-3 control-label">新密码</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="userPswNew" id="userPswNew" ng-model="addPageUpdate.data.userPwdNew" placeholder="新密码" maxlength="20" required>
                            <!--<span class="required">*</span>-->
                            <div class="required" ng-show="form.userPswNew.$dirty && form.userPswNew.$invalid">
                                <span ng-show="form.userPswNew.$error.required">此项不能为空.</span>
                                <span ng-show="!form.userPswNew.$error.required && form.userPswNew.$error.maxlength">超出长度限制.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-3 control-label">新密码确认</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="userPwdRenew" id="userPwdRenew" ng-model="addPageUpdate.data.userPwdRenew" placeholder="新密码确认" maxlength="20" required>
                            <!--<span class="required">*</span>-->
                            <div class="required" ng-show="form.userPwdRenew.$dirty && form.userPwdRenew.$invalid">
                                <span ng-show="form.userPwdRenew.$error.required">此项不能为空.</span>
                                <span ng-show="!form.userPwdRenew.$error.required && form.userPwdRenew.$error.maxlength">超出长度限制.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn" ng-hide="loginUserMenuMap[currentView]" ng-click="update()">修改密码</button>

            </form>
        </div>
    </div>
</div>