<div class="portlet box" ng-keypress="submit($event)">
    <div class="col-md-2" style="float:right;">
        <div class="list_button" >
            <div class="input-group">
                <!--<input type="text" class="form-control" maxlength="20" ng-model="searchPage.data.userName" placeholder="用户名模糊查询">-->
                <!--<span class="input-group-btn">-->
                    <!--<button class="btn blue" ng-click="searchPage.action.searchInfo()" type="button">查询</button>-->
                <!--</span>-->
                <button type="button" class="btn" ng-hide="loginUserMenuMap[currentView]" ng-click="listPage.action.add()" ng-show="userLevel.indexOf('add')!=-1">新增职位关系</button>
            </div>
        </div>

    </div>
    <table jq-table="listPage.settings" class="table"></table>
</div>
<div ng-include src="'view/user/positionAdd.html'"></div>