<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<div dialog info="pageDialog" data="addPage.data" class="ldialog">

    <div class="portlet-body form">
        <form class="form-horizontal" role="form" id="positionForm" name="positionForm">
            <div class="form-body">
                <div class="form-group">
                    <label  class="col-md-3 control-label">公司</label>
                    <div class="col-md-8">
                        <!--<input type="text" class="form-control"  ng-model="addPage.data.company" placeholder="公司" >-->
                        <!--<select class="form-control"  ng-model="addPageDetail.data.leaderApprove" id="leaderApprove" ng-options="''+ template.userName as template.userName for template in pms" class="col-md-4">-->
                            <!--<option value=""> -&#45;&#45; 请选择 -&#45;&#45; </option>-->
                        <!--</select>-->
                        <select  ui-select2="{allowClear : true}" class="form-control"  ng-model="addPage.data.company" id="companyName" name="companyName">
                            <option value=""> --- 请选择公司 --- </option>
                            <option ng-repeat="item in approvalEnterprise" value="{{item.companyName}}">{{item.companyName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">职位</label>
                    <div class="col-md-8">
                        <!--<input type="text" class="form-control" ng-model="addPage.data.positionName" placeholder="职位" >-->
                        <select ui-select2="{allowClear : true}" class="form-control"   ng-model="addPage.data.positionName" id="positionName" name="positionName"  required>
                            <option value=""> --- 请选择职位 --- </option>
                            <option ng-repeat="item in positions" value="{{item.userPosition}}">{{item.userPosition}}</option>
                        </select>
                    </div>
                    <span class="required">*</span>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">上级公司</label>
                    <div class="col-md-8">
                     <!--<input type="text" class="form-control" ng-model="addPage.data.highCompany" placeholder="上级公司" >-->
                        <select  ui-select2="{allowClear : true}" class="form-control"   ng-model="addPage.data.highCompany" id="highCompany" name="highCompany">
                            <option value=""> --- 请选择上级公司 --- </option>
                            <option ng-repeat="item in approvalEnterprise" value="{{item.companyName}}">{{item.companyName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">上级职位</label>
                    <div class="col-md-8">
                        <!--<input type="text" class="form-control" ng-model="addPage.data.highPositionName" placeholder="上级职位" >-->
                        <select  ui-select2="{allowClear : true}" class="form-control"   ng-model="addPage.data.highPositionName" id="highPositionName" name="highPositionName" required>
                            <option value=""> --- 请选择上级职位 --- </option>
                            <option ng-repeat="item in positions" value="{{item.userPosition}}">{{item.userPosition}}</option>
                        </select>
                    </div>
                    <span class="required">*</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="!positionForm.$valid" class="btn btn-primary" ng-click="pageDialog.save()"> {{dialog.buttonText==null?"确定":dialog.buttonText}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </form>
    </div>

</div>