
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>


    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">

                <div class="form-group">
                    <label class="control-label col-md-3">用户</label>
                    <div class="col-md-4">
                        <select  select2  class="form-control"  ng-model="userManage.user"  >
                            <option value="" ></option>
                            <option ng-repeat="op in userList" value="{{op.name}}"    >
                                {{op.chineseName}}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">权限</label>
                    <div class="col-md-4">
                        <select select2 multiple class="form-control" ng-model="userManage.level" class="form-control"  >
                            <option value="add" >新增</option>
                            <option value="delete">删除</option>
                            <option value="update">更改</option>
                            <option value="admin">用户管理</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" ng-click="updateUser()" ng-show="userLevel.indexOf('admin')!=-1" class="btn green"><i class="fa fa-check"></i> 确定</button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

