<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<div dialog info="pageDialog" data="addPage.data" class="ldialog">

    <div class="portlet-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label  class="col-md-3 control-label">模板名称<span class="required">*</span></label>
                    <div class="col-md-9">
                        <!--<select  class="form-control" ng-class="{false: 'has-error'}[pfCheck]" ng-model="description" required  ng-options="item.id as item.name for item in sites | filter: { flag: '1'}">-->
                        <select  class="form-control"  ng-model="row.rID"  ng-options="item.templateId as item.templateName for item in sites ">
                            <option value=""> --- 请选择 --- </option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>