<div class="portlet box"  style="margin: 15px 0px 0px 0px;">
    <div class="col-md-6 ">
        <div class="list_button" >
            <div class="input-group">
                <button class="btn blue" ng-hide="loginUserMenuMap[currentView]" ng-click="replaceDiv()" type="button">绘制流程</button>
            </div>
        </div>
    </div>
    <div class="portlet box ">
        <div id='tyu'></div>

    <!--<div>-->
        <!--<form action="/workflow/process/process" method="get">-->
          <!--<p>First name: <input type="text" name="fname" /></p>-->
          <!--<p>Last name: <input type="text" name="lname" /></p>-->
          <!--<input type="submit" value="Submit" />-->
        <!--</form>-->
    <!--</div>-->
    <!--<a ng-href="/models/newModel">绘制流程</a>-->


    <!--<a href="javascript: AJAX.POST('/models/newModel')">绘制流程</a>-->
        <table jq-table="listPage.settings" class="table"></table>
    </div>
    <div ng-include src="'view/deployment/deployBrowse.html'"></div>
</div>