<div class="portlet box"  style="margin: 15px 0px 0px 0px;">
    <label  class="col-md-3 control-label"></label>
    <div class="col-md-3">
        <input type="text" class="form-control" ng-model="searchPage.data.user" placeholder="申请人">
    </div>
    <div class="col-md-3">
        <div class="list_button" >
            <div class="input-group">

                <input type="text" class="form-control" ng-model="searchPage.data.title" placeholder="合同标题">
                <!--<input type="text" class="form-control" ng-model="searchPage.data.user" placeholder="合同号">-->
                <span class="input-group-btn">
						<button class="btn blue" ng-click="searchPage.action.search()" type="button">查询</button>
                </span>
                <!--<button type="button" class="btn" ng-click="listPage.action.add()" ng-show="userLevel.indexOf('add')!=-1">编辑</button>-->
            </div>
        </div>
    </div>
    <table jq-table="listPage.settings" class="table"></table>
</div>
<div ng-include src="'view/process/processDetail.html'"></div>
<!--<div ng-include src="'view/deployment/add.html'"></div>-->