<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<div dialog info="pageDialog" data="addPage.data" class="ldialog">

    <div class="portlet-body form">
        <form class="form-horizontal" role="form" name="formFieldCommit">
            <div class="form-body">
                <div class="form-group">
                    <label  class="col-md-3 control-label">字段名称</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  id="fieldName" ng-model="addPage.data.name" maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">数据类型</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  id="fieldType" ng-model="addPage.data.type" maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-md-3 control-label">数据长度</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control"  id="fieldLength" ng-model="addPage.data.length" maxlength="100">
                    </div>
                </div>


            </div>
        </form>
    </div>

</div>