<div class="portlet box"  style="top: 100px;position: fixed;">
    <label  class="col-md-3 control-label"></label>
    <div class="col-md-6 ">
        <div class="list_button" >
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchPage.data.templateName" placeholder="模板名称查询">
                <span class="input-group-btn">
						<button class="btn blue" ng-click="searchPage.action.search()" type="button">查询</button>
                </span>
            </div>
        </div>
    </div>
    <table jq-table="listPage.settings" class="table"></table>
</div>
<div ng-include src="'view/process/formFieldAdd.html'"></div>