<div class="portlet box"  style="margin: 15px 0px 0px 0px;">
    <form id="orderFormInfo" method="POST">
        <!--<form id="" action="/workflow/process/start" method="POST">-->
        <input type="text" style="display:none" name="id" id="wordId"/>
        <input type="text" style="display:none" name="contract" id="contract"/>
        <input type="text" style="display:none" name="processInstanceId" id="processInstanceId"/>
        <input type="submit" ng-hide="loginUserMenuMap[currentView] || !showCommit" ng-click="commitOrder(1)" class="btn btn-primary btn-lg" value="提交" />
        <input type="submit" ng-hide="loginUserMenuMap[currentView] || !showCommit" ng-click="commitOrder(2)" class="btn btn-primary btn-lg" value="保存草稿" />
        <input type="submit" ng-hide="showCommit" ng-click="commitResume()" class="btn btn-primary btn-lg" value="返到上次审批人" />

        <span class="checkbox">
          <label>
              <input class="ace reverse" type="checkbox" value="{{workStatus}}" ng-model="workStatus" id="workStatus" name="workStatus">已开工<span class="lbl"></span>
          </label>
        </span>
        <div id="orderForm"></div>
    </form>
    <div class="col-md-6 " id="approvalList"></div>
</div>