<div class="portlet box"  style="margin: 15px 0px 0px 0px;">
    <form id="orderFormInfo" method="POST">
    <!--<form id="" action="/workflow/process/start" method="POST">-->
        <input type="text" style="display:none" name="id" id="wordId"/>
        <input type="text" style="display:none" name="contract" id="contract"/>
        <input type="text" style="display:none" name="processInstanceId" id="processInstanceId"/>
        <input type="text" style="display:none" name="custom" id="custom" value=""/>
        <div class="col-md-12">
            <div class="col-md-6">
                <label style="font-size: 16px;">标题</label>
                <input type="text" style="width: 88%"
                       maxlength="300" ng-model="contractName" placeholder="合同名称（默认名称为流程名称）">
            </div>
            <div class="col-md-6">
                <span>
                  <label style="font-size: 16px;">
                      <input class="ace reverse ng-pristine ng-valid" type="checkbox" ng-model="workStatus" id="workStatus">已开工<span style="margin-left: 5px;" class="lbl"></span>
                  </label>
                </span>
                <span style="margin-left: 10%;">
                  <label style="display: inline-block;font-size: 16px;">开工日期<span class="required">*</span>
                        <input type="text" placeholder="开工日期" value="" ng-model="dateStartwork"
                               id="dateStartwork" name="dateStartwork" datepicker
                               onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                  </label>
                </span>
            </div>
        </div>
        <div  class="col-md-12" style="margin-top: 10px;">
            <div  class="col-md-4">
                <label  style="font-size: 16px;"  >甲方</label>
                <input type="text" style="width: 80%;"
                       maxlength="300" ng-model="buyer" placeholder="甲方">
            </div>
            <div class="col-md-4">
                <label  style="font-size: 16px;"  >乙方</label>
                <input type="text" style="width: 80%;"
                       maxlength="300" ng-model="seller" placeholder="乙方">
            </div>
            <div class="col-md-4">
                <label  style="font-size: 16px;"  >金额<span class="required">*</span></label>
                <input type="text" id="money"
                       maxlength="300" ng-model="money" placeholder="￥">
            </div>
        </div>
        <div  class="col-md-9" style="margin-top: 10px;">
            <div  class="col-md-6" >
                <label  style="font-size: 16px;" >项目经理<span class="required">*</span></label>
                <!--<select ui-select2="{allowClear : true}" class="select2" ng-model="pm" name="pmList" style="width: 70%" id="pmList" ng-options="template.userName as template.userName+' :' + template.userPosition for template in pms" >-->
                <select ui-select2="{allowClear : true}" class="select2" ng-model="pm" name="pmList" style="width: 70%" id="pmList"  >
                    <option value=""> --- 请选择项目经理 --- </option>
                    <option ng-repeat="template in pms" value="{{template.userName}}">{{template.userName}}: {{template.userPosition}}</option>
                </select>
                <!--<select ui-select2 ng-model="number" data-placeholder="Pick a number" ng-required="true">-->
                    <!--<option value=""></option>-->
                    <!--<option value="one">First</option>-->
                    <!--<option value="two">Second</option>-->
                    <!--<option value="three">Third</option>-->
                <!--</select>-->
            </div>
        </div>

        <div  ng-hide="showCommit" class="col-md-12" style="margin-top: 10px;">
        <!--<div  ng-hide="" class="col-md-12" style="margin-top: 10px;">-->
            <div class="col-md-12" >
                <label style="font-size: 16px;"  >回退原因：</label>
                <label id="refuseCause">异常</label>
            </div>
        </div>
        <div  ng-hide="showCommit" class="col-md-12" style="margin-top: 10px;">
        <!--<div  ng-hide="" class="col-md-12" style="margin-top: 10px;">-->
            <div class="col-md-12" >
                <label style="font-size: 16px;" >备注</label>
                <input type="text"  name="attachmentRefuse" style="width: 80%;"
                       maxlength="300" ng-model="attachmentRefuse" placeholder="备注">
            </div>
        </div>
        <div  ng-hide="showCommit" class="col-md-9" style="margin-top: 10px;">
            <label  class="col-md-2 control-label" >已上传文件：</label>
            <div class="col-md-6" id="downloadedFile" ></div>
        </div>
        <DIV class="col-md-9" style="margin-top: 10px;">
            <div class="row" id="uploadAttachmentFile">
                <div class="col-md-6">
                    <input  type="file" accept="image/*" id="fileAttachment" name="fileAttachment" class="" style="" value="附件" >
                </div>
                <div class="col-md-6">
                    <input type="submit" ng-click="yulan();" value="预览" class="btn btn-primary btn-lg">
                    <input type="submit" ng-click="uploadAttachment();" name="uploadAttachment" id="uploadAttachment" ng-hide="loginUserMenuMap[currentView]" value="附件上传" class="btn btn-primary btn-lg" >
                    <!--<input type="submit" ng-click="uploadAttachment();" name="uploadAttachment" id="downAttachment" ng-hide="loginUserMenuMap[currentView]" value="附件下载" class="btn btn-primary btn-lg" >-->
                </div>
            </div>
        </DIV>

        <div class="col-md-9" style="margin-top: 10px;">
            <img id="yulanImg"></img>
        </div>
        <div class="col-md-9" style="margin-top: 10px;">
            <div id="download"></div>
        </div>
        <div class="col-md-9" style="margin-top: 10px;">
            <input type="submit" ng-hide="loginUserMenuMap[currentView] || !showCommit" ng-click="commitOrder(1)" class="btn btn-primary btn-lg" value="提交" />
            <input type="submit" ng-hide="loginUserMenuMap[currentView] || !showCommit" ng-click="commitOrder(2)" class="btn btn-primary btn-lg" value="保存草稿" />
            <input type="submit" ng-hide="showCommit" ng-click="commitResume()" class="btn btn-primary btn-lg" value="返回到上次审批人" />
        </div>

        <div class="col-md-12" id="orderForm" style="margin-top: 20px;"></div>
        <!--<div>-->
            <!--<label  class="col-md-3 control-label" style="font-size: 16px;">附件：</label>-->
            <!--<div class="col-md-9" style="margin: -2px 0px 0px -40px;" id="attachment">-->
                <!--<span style="display: none;" onclick="">X</span>-->
                <!--<input onclick="">删除</input>-->
            <!--</div>-->
        <!--</div>-->

    </form>

    <div class="col-md-6 " id="approvalList"></div>
</div>