<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<div dialog info="pageDialogDetail" data="addPageDetail.data" class="ldialog">
    <form class="form-horizontal" role="form">
        <div class="form-body">
            <div>
                <img style="width: 100%" ng-src="{{hash}}"/>
            </div>
            <div style="margin-top: 10px;" id="download"></div>
            <div style="width: 60%;float: left;display: inline;" id="htmlTemplate"></div>
            <div style="width: 40%;display: inline;" id="keyword">
            </div>
            <div style="margin-top: 30px;">
                <table width="100%"  border="1" cellspacing="0">
                    <tr>
                        <th>角色</th>
                        <th>操作时间</th>
                        <th>审批意见</th>
                    </tr>

                    <tr ng-repeat="x in details">
                        <td>{{ x.name }}</td>
                        <td>{{ x.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                        <td>{{ x.description }}</td>
                    </tr>
                </table>
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <label class="col-md-2" >下一级审批人<span class="required">*</span></label>
                <div class="col-md-8">
                    <select class="form-control"  ng-model="addPageDetail.data.leaderApprove" id="leaderApprove" ng-options="''+ template.userName as template.userName for template in pms" class="col-md-4">
                        <option value=""> --- 请选择 --- </option>
                    </select>
                </div>
            </div>

            <div class="form-group" style="margin-top: 30px;">
                <label  class="col-md-2">审批意见<span class="required">*</span></label>
                <div class="col-md-8">
                    <!--<select  class="form-control" ng-class="{false: 'has-error'}[pfCheck]" ng-model="description" required  ng-options="item.id as item.name for item in sites | filter: { flag: '1'}">-->
                    <select  class="form-control"  ng-model="addPageDetail.data.approvalStatus"  ng-options="item.status as item.name for item in approvalItems ">
                        <!--<option value=""> -&#45;&#45; 请选择 -&#45;&#45; </option>-->
                    </select>
                </div>
            </div>
            <div ng-hide="addPageDetail.data.approvalStatus==1" class="form-group">
                <label  class="col-md-2">原因</label>
                <div class="col-md-8">
                    <textarea rows="50" cols="30"  ng-model="addPageDetail.data.cause" value="" style="width: 100%;height: 100px;"></textarea>
                    <!--<input type="text" class="form-control"  ng-model="addPage.data.cause" value="" />-->
                </div>
            </div>
        </div>
    </form>
</div>