<div class="portlet box"  style="margin: 15px 0px 0px 0px;">

    <!--<img src='/workflow/process/queryProPlan?getActivitiProccessImage&ProcessInstanceId=40001' />-->
    <!--<label  class="col-md-3 control-label"></label>-->
    <div class="col-md-8" style="margin-top: 25px;">
                <div class="form-body">
                <!--<input type="text" class="form-control" ng-model="key" placeholder="关键字模糊查询">-->
                <!--<span class="input-group-btn">-->
						<!--<button class="btn blue" ng-click="searchPage.action.search()" type="button">查询</button>-->
					<!--</span>-->
                <div class="col-md-9  form-group">
                    <label  class="col-md-2 control-label">模板</label>
                    <div class="col-md-8" style="margin: -5px 0px 0px -35px;">
                        <select  class="form-control"  ng-model="row.rID"  ng-options="item.templateId as item.templateName for item in sites ">
                            <option value=""> --- 请选择合同模板 --- </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9 form-group">
                    <label  class="col-md-2 control-label">流程</label>
                    <div class="col-md-8" style="margin: -5px 0px 0px -35px;">
                        <select  class="form-control"  ng-model="row.dID"  ng-options="item.id as item.name for item in deploys ">
                            <option value=""> --- 请选择流程 --- </option>
                        </select>
                    </div>
                </div>
                    <div class="col-md-9  form-group">
                        <button type="button" class="btn blue" ng-click="listPage.action.start()" ng-show="userLevel.indexOf('add')!=-1">发起合同</button>
                    </div>
            </div>
    </div>


    <!--<table jq-table="listPage.settings" class="table"></table>-->
</div>
