<div class="portlet box"  style="margin: 15px 0px 0px 0px;">

    <!--<img src='/workflow/process/queryProPlan?getActivitiProccessImage&ProcessInstanceId=40001' />-->
    <!--<label  class="col-md-3 control-label"></label>-->
    <!--<div class="col-md-6 ">-->
        <!--<div class="list_button" >-->
            <!--<div class="input-group">-->
                <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="key" placeholder="关键字模糊查询">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
						<!--&lt;!&ndash;<button class="btn blue" ng-click="searchPage.action.search()" type="button">查询</button>&ndash;&gt;-->
					<!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--<button type="button" class="btn" ng-click="listPage.action.add()" ng-show="userLevel.indexOf('add')!=-1">编辑</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <table jq-table="listPage.settings" class="table"></table>
</div>
